body{
    font-family: 'Open Sans', sans-serif;
}
/* shared style */
.section-title{
    color:  #181818;
    text-align: center;
  
    font-size: 35px;
  
    font-weight: 700;
    
}

.section-description{
    color: var(--dark-03, #757575);
text-align: center;

font-size: 18px;

font-weight: 400;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav >ul{
    display: flex;
    align-items: center;
}
.nav-title{
    color: var(--dark-01, #181818);

font-size: 45px;

font-weight: 800;

}
.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color: var(--white-color, #FFF);
border: none;
font-size: 20px;
font-style: normal;
font-weight: 700;

padding: 18px 35px 19px 36px;

}

/* header */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* justify-content: space-between; dile 2ta item width e 2pashe chole jabe */
}

.banner .profile-pic{
    width: 584px;

}

.banner-greeting{
    color: var(--dark-02, #474747);

font-size: 45px;
margin-bottom: 0px;

}


.banner-title{
    color: var(--dark-01, #181818);

font-size: 85px;

font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;

}



.banner-description{
    margin-top: 0px;
}


.banner-content{
    max-width: 585px;
}
/* main section styles */
main{
    /* max-width: 1140px; */
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}

/* about section styles */
.about{
    padding: 131px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 230px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

.about-info{
    text-align: center;
}
.about-info-container .info-title{
    color: var(--dark-03, #757575);
    text-align: center;
   margin-bottom: 0px;
font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.about-info-container .info-description{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px;
margin-top: 0px;
}
/* what-i-do-des */
.what{
    margin-bottom: 0px;
}
#what-i-do-des{
    padding: 30px 345px;
    
    margin-top: 0px;
}
.skill-container{
    /* margin: 0px 230px; */
    width: 1140px;
margin: 0 auto;
    display: flex;
    gap: 24px;
   }
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-des{
    color: var(--dark-03, #757575);

font-size: 16px;

font-weight: 400;

}
/* resume */

.resume-container{
    margin: 0 auto;
    width: 1140px;
    display: flex;
    gap:50px;
    justify-content: space-around;
}
.resume-col-title{
    color: var(--dark-02, #474747);

font-size: 30px;
margin-bottom: 0px;
font-weight: 700;

}


.institute{
    color: var(--dark-03, #757575);
  
    font-size: 10px;
   
    font-weight: 600;}

.res-des{
    color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
margin-top: -10px;
font-weight: 400;

}


.resume-item-title{
    color: var(--dark-02, #474747);

font-size: 25px;

font-weight: 700;

}
.resume-container .institute{
    margin-top: -20px;
   
}

.resume-item{
    margin-bottom: 30px;
    margin-top: 30px;
  
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
margin-top: 130px;
padding: 130px 230px;}

.foot-title{
    color: var(--dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-style: normal;
font-weight: 700;
line-height: normal;
font-size: 35px;
}

.footer-col{
    width: 50%;
}
.contact input[type=text],input[type=email],textarea{
    border-radius: 5px;
background: var(--White-Color, #FFF);
width: 100%;
margin-bottom: 24px;
display: block;
color: var(--Dark-03, #757575);
font-size: 16px;
padding: 18px 35px;
border: 0;
}

.soc-links a{
    margin-right: 24px;
}
.foot-des{
    text-align: left;
    color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}