body{
    font-family: 'Open Sans', sans-serif;
}
/* shared style */
.section-title{
    color:  #181818;
    text-align: center;
  
    font-size: 35px;
  
    font-weight: 700;
    
}

.section-description{
    color: var(--dark-03, #757575);
text-align: center;

font-size: 18px;

font-weight: 400;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
nav >ul{
    display: flex;
    align-items: center;
}
.nav-title{
    color: var(--dark-01, #181818);

font-size: 45px;

font-weight: 800;

}
.text-primary{
    color:#FD6E0A;
}

.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
color: var(--white-color, #FFF);

font-size: 20px;
font-style: normal;
font-weight: 700;

padding: 18px 35px 19px 36px;

}

/* header */
.header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* justify-content: space-between; dile 2ta item width e 2pashe chole jabe */
}

.banner .profile-pic{
    width: 584px;

}

.banner-greeting{
    color: var(--dark-02, #474747);

font-size: 45px;
margin-bottom: 0px;

}


.banner-title{
    color: var(--dark-01, #181818);

font-size: 85px;

font-weight: 700;
margin-top: 5px;
margin-bottom: 20px;

}



.banner-description{
    margin-top: 0px;
}


.banner-content{
    max-width: 585px;
}
/* main section styles */


/* about section styles */
.about{
    padding: 131px;
    border-radius: 10px;
background: #FFF8F3;
margin: 130px 230px;
}








